ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    SAMPLE
    DATE-DMY 09/06/11
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  
    ATTRIBUTE7  SAMPLE
    ATTRIBUTE8  
    ATTRIBUTE9  Project 1
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CS300
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          1711.9146    -1017.4772    909.2235
END-POSITION-NULL
    CO-ORDS          1867.1207    -1244.9646    871.6138
END-POSITION-NULL
    CO-ORDS          1842.6156    -1191.6755    897.9909
PIPE
    END-POINT        1711.9146    -1124.6762    909.2235    4.0000
    END-POINT        1711.9146    -1079.9103    909.2235    4.0000
    ITEM-CODE  CS300-1001
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1711.9146    -1124.6762    909.2235    0.0000
    END-POINT        1711.9146    -1124.6762    909.2235    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1716.1573    -1130.6762    904.9809    4.0000  BW
    END-POINT        1711.9146    -1124.6762    909.2235    4.0000  BW
    CENTRE-POINT     1711.9146    -1130.6762    909.2235
    SKEY  ELBW
    ITEM-CODE  CS300-280
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
REDUCER-CONCENTRIC
    END-POINT        1711.9146    -1079.9103    909.2235    4.0000  BW
    END-POINT        1711.9146    -1075.8946    909.2235    3.0000  BW
    SKEY  RCBW
    ITEM-CODE  CS300-859
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1711.9146    -1079.9103    909.2235    0.0000
    END-POINT        1711.9146    -1079.9103    909.2235    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        1711.9146    -1075.8946    909.2235    0.0000
    END-POINT        1711.9146    -1075.8946    909.2235    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1711.9146    -1075.8946    909.2235    3.0000
    END-POINT        1711.9146    -1017.4772    909.2235    3.0000
    ITEM-CODE  CS300-998
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1716.1573    -1130.6762    904.9809    0.0000
    END-POINT        1716.1573    -1130.6762    904.9809    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1747.7566    -1130.6762    873.3816    4.0000
    END-POINT        1716.1573    -1130.6762    904.9809    4.0000
    ITEM-CODE  CS300-1001
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1747.7566    -1130.6762    873.3816    0.0000
    END-POINT        1747.7566    -1130.6762    873.3816    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1752.0243    -1130.6762    871.6138    4.0000  BW
    END-POINT        1747.7566    -1130.6762    873.3816    4.0000  BW
    CENTRE-POINT     1749.5243    -1130.6762    871.6138
    SKEY  ELBW
    ITEM-CODE  CS300-250
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1752.0243    -1130.6762    871.6138    0.0000
    END-POINT        1752.0243    -1130.6762    871.6138    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1788.1103    -1130.6762    871.6138    4.0000
    END-POINT        1752.0243    -1130.6762    871.6138    4.0000
    ITEM-CODE  CS300-1001
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1788.1103    -1130.6762    871.6138    0.0000
    END-POINT        1788.1103    -1130.6762    871.6138    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        1800.1103    -1130.6762    871.6138    4.0000  BW
    END-POINT        1788.1103    -1130.6762    871.6138    4.0000  BW
    SKEY  VTBW
    ITEM-CODE  CS300-445
    ITEM-DESCRIPTION  Gate Valve, Double Disc, 300 LB, BW, ASME B16.10, ASTM A 351 Gr CF8M, Hand Wheel
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_300
    SPINDLE-DIRECTION  UP
    DIRECTION  UP
WELD
    END-POINT        1800.1103    -1130.6762    871.6138    0.0000
    END-POINT        1800.1103    -1130.6762    871.6138    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1861.1207    -1130.6762    871.6138    4.0000
    END-POINT        1800.1103    -1130.6762    871.6138    4.0000
    ITEM-CODE  CS300-1001
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
PIPE
    END-POINT        1866.2407    -1191.6755    897.9909    1.0000
    END-POINT        1842.6156    -1191.6755    897.9909    1.0000
    ITEM-CODE  CS300-988
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1861.1207    -1130.6762    871.6138    0.0000
    END-POINT        1861.1207    -1130.6762    871.6138    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1867.1207    -1136.6762    871.6138    4.0000  BW
    END-POINT        1861.1207    -1130.6762    871.6138    4.0000  BW
    CENTRE-POINT     1867.1207    -1130.6762    871.6138
    SKEY  ELBW
    ITEM-CODE  CS300-280
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
ELBOW
    END-POINT        1867.1207    -1191.6755    897.1109    1.0000  SW
    END-POINT        1866.2407    -1191.6755    897.9909    1.0000  SW
    CENTRE-POINT     1867.1207    -1191.6755    897.9909
    SKEY  ELSW
    ITEM-CODE  CS300-305
    ITEM-DESCRIPTION  ELL 90, 3000 LB, SW, ASME B16.11, ASTM A105
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
WELD
    END-POINT        1866.2407    -1191.6755    897.9909    0.0000
    END-POINT        1866.2407    -1191.6755    897.9909    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1867.1207    -1244.9646    871.6138    4.0000
    END-POINT        1867.1207    -1136.6762    871.6138    4.0000
    ITEM-CODE  CS300-1001
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
OLET
    CENTRE-POINT     1867.1207    -1191.6755    871.6138
    BRANCH1-POINT    1867.1207    -1191.6755    874.6763    1.0000  SW
    SKEY  THSW
    ITEM-CODE  CS300-1045
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 13/16" LG, ASME B16.11, ASTM A105
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
WELD
    END-POINT        1867.1207    -1191.6755    874.6763    0.0000
    END-POINT        1867.1207    -1191.6755    874.6763    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1867.1207    -1191.6755    874.6763    1.0000
    END-POINT        1867.1207    -1191.6755    897.1109    1.0000
    ITEM-CODE  CS300-988
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_CS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        1867.1207    -1191.6755    897.1109    0.0000
    END-POINT        1867.1207    -1191.6755    897.1109    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        1867.1207    -1136.6762    871.6138    0.0000
    END-POINT        1867.1207    -1136.6762    871.6138    0.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-998
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  CS300-859
    DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  CS300-1001
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  CS300-280
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  CS300-250
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  CS300-445
    DESCRIPTION  Gate Valve, Double Disc, 300 LB, BW, ASME B16.10, ASTM A 351 Gr
    DESCRIPTION   CF8M, Hand Wheel
    Schedule  
    PressureClass  300
    Material  CS
ITEM-CODE  CS300-1045
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 13/16" LG, ASME B16.11, ASTM A105
    Schedule  
    PressureClass  3000
    Material  CS
ITEM-CODE  Socketweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-988
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    Schedule  40
    PressureClass  
    Material  CS
ITEM-CODE  Socketweld-1
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-305
    DESCRIPTION  ELL 90, 3000 LB, SW, ASME B16.11, ASTM A105
    Schedule  
    PressureClass  3000
    Material  CS